<div class="relative h-full text-gray-900">
  <div class="absolute inset-0 brightness-[25%]  grayscale">
    <img src="https://images.pexels.com/photos/5907603/pexels-photo-5907603.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="object-cover w-full h-full">
  </div>
  <div class="container flex items-center justify-center h-full max-w-screen-xl mx-auto z-[1000] relative">
    <div class="p-6 bg-white shadow-2xl rounded-xl min-w-[325px] sm:min-w-[350px] max-w-[375px] md:p-8">
      <header class="mb-5">
        <h2 class="block text-4xl antialiased font-bold text-center">Register Now!</h2>
      </header>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'mb-3 block p-5') do |f| %>
          <fieldset class="flex flex-col gap-4 text-sm">
            <div class="field w-full min-w-[200px]">
              <%= f.label :name %>
              <%= f.text_field :name, autofocus: true, autocomplete: "name", class: " border rounded-md p-1.5 w-full"%>
            </div>

            <div class="field w-full min-w-[200px]">
              <%= f.label :email %>
              <%= f.email_field :email, autocomplete: "email", class: " border rounded-md p-1.5 w-full" %>
            </div>

            <div class="field w-full min-w-[200px]">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "new-password", class: " border rounded-md p-1.5 w-full" %>
            </div>

            <div class="field w-full min-w-[200px]">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "border rounded-md p-1.5 w-full" %>
            </div>

            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="actions">
              <%= f.submit "Sign up", class: 'btn btn-orange float-right bg-[var(--CL-orange)] border-none' %>
            </div>

          </fieldset>
        <% end %>

        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

