<div>
  <h1 class="py-10 sm:py-16 text-2xl font-bold text-center sm:my-10 sm:text-4xl md:text-5xl bg-[var(--CL-orange)] text-white">Recipe #<%= @recipe.id %></h1>
  <div class="container max-w-screen-lg p-4 mx-auto">
    <header class="flex flex-col">
      <div class="flex items-center justify-between mb-5 text-base">
        <p class="font-bold sm:text-2xl md:text-4xl lg:text-5xl"><%= @recipe.name %></p>
        
        <% if current_user == @recipe.user %>
          <% if @recipe.public %>
            <%= button_to 'Public', recipe_path(@recipe), method: :put, class: 'text-white btn-info rounded-full btn btn-sm sm:mt-3 inline-block relative z-[500] bg-cyan-500 border-none text-white' %>
          <% else %>
            <%= button_to 'Private', recipe_path(@recipe), method: :put, class: 'text-white btn-info rounded-full btn btn-sm sm:mt-3 inline-block relative z-[500] bg-gray-500 border-none' %>
          <% end %>
        <% end %>
      </div>
      <p class="font-semibold sm:text-xl">Preparation Time: <%= @recipe.preparation_time %> min</p>
      <p class="font-semibold sm:text-xl">Cooking Time: <%= @recipe.preparation_time %> min</p>
      <p class="mt-5 text-sm text-justify sm:mt-8 sm:text-base"><%= @recipe.description %></p>
    </header>
    <div class="flex items-center justify-between mt-5">
      <%= button_to 'Generate Shopping List', recipe_path(@recipe), method: :put, class: 'text-white btn-info rounded-full btn btn-sm sm:mt-3 inline-block relative z-[500] bg-gray-500 border-none' %>  
      <% if current_user == @recipe.user %>
        <%= button_to 'Add Ingredient', recipe_path(@recipe), method: :put, class: 'text-white btn-success rounded-full btn btn-sm sm:mt-3 inline-block relative z-[500] bg-gray-500 border-none' %>  
      <% end %>
    </div>
  </div>
</div>