<div>
  <h1 class="py-10 sm:py-16 text-2xl font-bold text-center sm:my-10 sm:text-4xl md:text-5xl bg-[var(--CL-orange)] text-white">List of Foods</h1>
   <div class="container w-full max-w-screen-lg p-4 mx-auto overflow-auto max-h-96">
    <table class="table w-full table-xs">
      <thead class="text-white ">
        <tr>
          <th class="py-2 bg-[var(--CL-orange)] min-w-[175px] rounded-none">Food</th>
          <th class="py-2 bg-[var(--CL-orange)] min-w-[175px] rounded-none">Measurement Unit</th>
          <th class="py-2 bg-[var(--CL-orange)] min-w-[175px] rounded-none">Price</th>
          <th class="py-2 bg-[var(--CL-orange)] min-w-[175px] rounded-none">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @foods.each do |food| %>
          <tr class="min-w-[175px] text-sm md:transition border">
            <td><%= food.name %></td>
            <td>
              <% if false %>
                <%= false %>
              <% end %>
              <%= food.measurement_unit %>
            </td>
            <% if true %>
              <td>$ <%= food.price %></td>
            <% end %>
            <td class="flex justify-center">
              <%= button_to "Delete", food_path(food.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-xs btn-error bg-red-600 text-white' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div>
    <%= link_to 'Add Food', new_food_path %> 
  </div>
</div>