<h1>Shopping List</h1>

<%= form_with url: shopping_list_path, method: :post do |form| %>
  <%= form.label :amount, "Amount of items to buy" %>
  <%= form.number_field :amount, min: 1 %>
  <%= form.submit "Calculate" %>
<% end %>

<p>Total value of food needed: <%= @total_value %></p>

<table class="relative w-full">
  <thead class="sticky top-0 w-full text-white rounded-none">
    <tr class="rounded-none text-left bg-[var(--CL-orange)]">
      <th class="p-2 min-w-[175px]">Food</th>
      <th class="p-2 min-w-[175px]">Quantity</th>
      <th class="p-2 min-w-[175px]">Price</th>
    </tr>
  </thead>
  <tbody>
    <% @recipe_foods.each do |recipe_food| %>
      <tr class="min-w-[175px] border text-sm">
        <td class="p-2"><%= recipe_food.food.name %></td>
        <td class="p-2"><%= recipe_food.quantity %></td>
        <td class="p-2"><%= number_to_currency((recipe_food.food.price * recipe_food.quantity), precision: 2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>