<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>Recipe App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
    <main class="h-full">
       <header class="toast toast-bottom toast-start fixed z-[1000] bottom-20 right-3">
        <% if alert %>
          <div class="alert alert-success">
            <p class="p-1 text-sm rounded-md bg-warning"><%= alert %></p>
          </div>
        <% end %>
        <% if notice %>
          <div class="alert alert-success">
            <p class="p-1 text-sm rounded-md bg-success"><%= notice %></p>
          </div>
        <% end %>
       </header>
      <%= yield %>
      <%= render 'partials/repository' %>
    </main>
  </body>
</html>
